<!DOCTYPE html>
<html>
  <head>
    <title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </title>
  </head>
  <body>
    <h1>Stupid Coaching</h1>

    <form action="/answer">
      <div class="row">
        <div class="form-group">
          <label for="question">Ask your coach anything:</label>
          <input type="text" name="question" id="question" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Ask!</button>
      </div>
    </form>

  </body>
</html>

